<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forget Password</title>
  </head>
  <body>
    <h1>Welcome Coupon Management System</h1>

    <div class="">
      <p>Hello <%= name %> Thanks for registering in NEPQUE</p>
      <a href="<%= url %>">VerifyEmail</a>

      <p>If you haven't register in NEPQUE then kindly ignore please</p>
      <p>Navigate within next 5 minute</p>
    </div>
  </body>
</html>
