<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Coupon Update</title>
  </head>
  <body>
    <h1>NEPQUE</h1>
    <div class="">
      <p>Hello <%= userName %> <%= storeName %> has a new Coupon Update</p>
      <a href="<%= url %>">Navigate</a>
    </div>
  </body>
</html>
