<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Sucess</title>
  </head>
  <body>
    <h1>NEPQUE</h1>
    <div class="">
      <p>
        Hello <%= userName %> Your Order Has been verified by the Admin Of
        Nepque
      </p>
      <p>Thank you for your Order</p>
    </div>
  </body>
</html>
